Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Always
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: All

# Braces
BreakBeforeBraces: Allman

# Line length
ColumnLimit: 120

# Alignment
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Lambdas
LambdaBodyIndentation: Signature

# Short forms
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All

# Breaking
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
ContinuationIndentWidth: 4

# Blank lines
SeparateDefinitionBlocks: Always    # <-- Adds blank line between functions/classes
MaxEmptyLinesToKeep: 1

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^<[a-z_]+>$'
    Priority: 4
  - Regex: '^<.+\.h>'
    Priority: 3
  - Regex: '^<.+>'
    Priority: 2
  - Regex: '.*'
    Priority: 1

# Access modifiers
AccessModifierOffset: -4

# Misc
FixNamespaceComments: true
ReflowComments: true
SortUsingDeclarations: true
Cpp11BracedListStyle: true